Project.json
[{"id":"7d8881d0.b45c7","type":"tab","label":"Project","disabled":false,"info":""},{"id":"b7c5c004.2b7ca","type":"function","z":"7d8881d0.b45c7","name":"","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\nif (typeof msg.result.error != 'undefined') {\n    msg.template = msg.result.error.message;\n    return msg;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined')\n{\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n\nvar bestItem = 0;\nvar itemScore = 0;\n\nfor( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n          //bestItem = i;\n          bestItem = 0;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \nif( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n    say = say + \" This picture contains a \" + item +\".\";\n}\nmsg.payload =  say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":320,"wires":[["259462eb.4f5c7e","af0b9fc9.a35d1"]]},{"id":"259462eb.4f5c7e","type":"ui_template","z":"7d8881d0.b45c7","group":"4596c977.ce05e8","name":"Results Table","order":1,"width":"9","height":"10","format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":440,"y":300,"wires":[[]]},{"id":"ba0c36bb.47f618","type":"debug","z":"7d8881d0.b45c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":460,"wires":[]},{"id":"8797c69a.181f38","type":"ui_template","z":"7d8881d0.b45c7","group":"8247190c.62ded8","name":"","order":0,"width":"9","height":"10","format":"<html>\n    <body>\n        <form action=\"/upload\" method=\"POST\" enctype=\"multipart/form-data\">\n        <p><input type=\"file\"  accept=\"image/*\" name=\"image\" id=\"file_id\"  onchange=\"loadFile(event)\" style=\"display: none;\"></p>\n        <p><label for=\"file_id\" style=\"cursor: pointer;\" >Upload Image</label></p>\n        <p><img id=\"output\" width=\"400\" /></p>\n        <input type=\"submit\" value=\"Analyze File\">\n        </form>\n        \n        <script>\n        var loadFile = function(event) \n            {\n\t        var image = document.getElementById('output');\n\t        image.src = URL.createObjectURL(event.target.files[0]);\n\t        \n\t        };\n        \n\t    </script>\n\t    \n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":440,"wires":[["ba0c36bb.47f618"]]},{"id":"f4f3e32c.84d58","type":"visual-recognition-v3","z":"7d8881d0.b45c7","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com","image-feature":"classifyImage","lang":"en","x":450,"y":220,"wires":[["b7c5c004.2b7ca"]]},{"id":"4ad44dfd.b328e4","type":"http in","z":"7d8881d0.b45c7","name":"","url":"/upload","method":"post","upload":true,"swaggerDoc":"","x":170,"y":120,"wires":[["372c6645.5b1dfa"]]},{"id":"372c6645.5b1dfa","type":"change","z":"7d8881d0.b45c7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["a755502f.3d181"]]},{"id":"a755502f.3d181","type":"function","z":"7d8881d0.b45c7","name":"Save Picture Buffer","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.mypic = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":220,"wires":[["f4f3e32c.84d58"]]},{"id":"af0b9fc9.a35d1","type":"watson-text-to-speech","z":"7d8881d0.b45c7","name":"Text to Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_OliviaV3Voice","voicehidden":"en-US_OliviaV3Voice","format":"audio/mp3","password":"Kunal23/7/98","apikey":"CqZu6xQ6SLD5hEdsYfkdUz4NIgLvrRFf7qdEYGNzmVWh","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com","x":440,"y":380,"wires":[["97c7e1ab.f5b61"]]},{"id":"97c7e1ab.f5b61","type":"play audio","z":"7d8881d0.b45c7","name":"","voice":"0","x":650,"y":380,"wires":[]},{"id":"4596c977.ce05e8","type":"ui_group","z":"","name":"Results","tab":"1894617.6c6ab9f","order":3,"disp":true,"width":"9","collapse":false},{"id":"8247190c.62ded8","type":"ui_group","z":"","name":"Choose Image","tab":"1894617.6c6ab9f","order":1,"disp":true,"width":"9","collapse":true},{"id":"1894617.6c6ab9f","type":"ui_tab","z":"","name":"Image Analysis","icon":"dashboard","disabled":false,"hidden":false}]